VITE_SUPABASE_URL=https://kctdlnqiomxypvesdify.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjdGRsbnFpb214eXB2ZXNkaWZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MzkwMjQsImV4cCI6MjA5NDAxNTAyNH0.D6goH3FAGe7Ro8T2eBnK5Ycm3H6oQoiPDoXmZk1KUFk
